.money-index{
  width: 10%;
}

.money-fee{
  width: 15%
}

.money-user{
  width: 20%;
}
.money-date{
  width: 15%;
}

.money-note{
  width: 40%;
}

.adding-money{
  background-color: #00C500;
}

.width-5{
  width: 5%;
}

.width-15{
  width: 15%;
}

.width-20{
  width: 20%;
}

.table-money{
  width: 700px;
  float: left;
}

.table-total{
  float: left;
  margin-left: 100px;
}
